#audio1{
    position: absolute;
    margin-top: 10%;
    margin-left: 100px;
}
#audio2{
    position: absolute;
    margin-top: 16%;
    margin-left: 100px;
}
#audio3{
    position: absolute;
    margin-top: 22%;
    margin-left: 100px;
}
#audio4{
    position: absolute;
    margin-top: 28%;
    margin-left: 100px;
}
#audio5{
    position: absolute;
    margin-top: 34%;
    margin-left: 100px;
}
#audio16{
    position: absolute;
    margin-top: 10%;
    margin-left: 1060px;
}
#audio17{
    position: absolute;
    margin-top: 16%;
    margin-left: 1060px;
}
#audio18{
    position: absolute;
    margin-top: 22%;
    margin-left: 1060px;
}
#audio19{
    position: absolute;
    margin-top: 28%;
    margin-left: 1060px;
}
#audio20{
    position: absolute;
    margin-top: 34%;
    margin-left: 1060px;
}
#audio11{
    position: absolute;
    margin-top: 10%;
    margin-left: 730px;
}
#audio12{
    position: absolute;
    margin-top: 16%;
    margin-left: 730px;
}
#audio13{
    position: absolute;
    margin-top: 22%;
    margin-left: 730px;
}
#audio14{
    position: absolute;
    margin-top: 28%;
    margin-left: 730px;
}
#audio15{
    position: absolute;
    margin-top: 34%;
    margin-left: 730px;
}
#audio6{
    position: absolute;
    margin-top: 10%;
    margin-left: 420px;
}
#audio7{
    position: absolute;
    margin-top: 16%;
    margin-left: 420px;
}
#audio8{
    position: absolute;
    margin-top: 22%;
    margin-left: 420px;
}
#audio9{
    position: absolute;
    margin-top: 28%;
    margin-left: 420px;
}
#audio10{
    position: absolute;
    margin-top: 34%;
    margin-left: 420px;
}
#audio21{
    position: absolute;
    margin-top: 10%;
    margin-left: 1380px;
}
#audio22{
    position: absolute;
    margin-top: 16%;
    margin-left: 1380px;
}
#audio23{
    position: absolute;
    margin-top: 22%;
    margin-left: 1380px;
}
#audio24{
    position: absolute;
    margin-top: 28%;
    margin-left: 1380px;
}
#audio25{
    position: absolute;
    margin-top: 34%;
    margin-left: 1380px;
}

#text1{
    color: white;
    position: absolute;
    margin-top: 8%;
    margin-left: 130px;
}
#text2{
    color: white;
    position: absolute;
    margin-top: 14%;
    margin-left: 130px;
}
#text3{
    color: white;
    position: absolute;
    margin-top: 20%;
    margin-left: 130px;
}
#text4{
    color: white;
    position: absolute;
    margin-top: 26%;
    margin-left: 130px;
}
#text5{
    color: white;
    position: absolute;
    margin-top: 32%;
    margin-left: 130px;
}
#text6{
    color: white;
    position: absolute;
    margin-top: 8%;
    margin-left: 460px;
}
#text7{
    color: white;
    position: absolute;
    margin-top: 14%;
    margin-left: 460px;
}
#text8{
    color: white;
    position: absolute;
    margin-top: 20%;
    margin-left: 460px;
}
#text9{
    color: white;
    position: absolute;
    margin-top: 26%;
    margin-left: 460px;
}
#text10{
    color: white;
    position: absolute;
    margin-top: 32%;
    margin-left: 460px;
}
#text11{
    color: white;
    position: absolute;
    margin-top: 8%;
    margin-left: 760px;
}
#text12{
    color: white;
    position: absolute;
    margin-top: 14%;
    margin-left: 760px;
}
#text13{
    color: white;
    position: absolute;
    margin-top: 20%;
    margin-left: 760px;
}
#text14{
    color: white;
    position: absolute;
    margin-top: 26%;
    margin-left: 760px;
}
#text15{
    color: white;
    position: absolute;
    margin-top: 32%;
    margin-left: 760px;
}
#text16{
    color: white;
    position: absolute;
    margin-top: 8%;
    margin-left: 1090px;
}
#text17{
    color: white;
    position: absolute;
    margin-top: 14%;
    margin-left: 1090px;
}
#text18{
    color: white;
    position: absolute;
    margin-top: 20%;
    margin-left:1090px;
}
#text19{
    color: white;
    position: absolute;
    margin-top: 26%;
    margin-left:1090px;
}
#text20{
    color: white;
    position: absolute;
    margin-top: 32%;
    margin-left:1090px;
}
#text21{
    color: white;
    position: absolute;
    margin-top: 8%;
    margin-left:1410px;
}
#text22{
    color: white;
    position: absolute;
    margin-top: 14%;
    margin-left:1410px;
}
#text23{
    color: white;
    position: absolute;
    margin-top: 20%;
    margin-left:1410px;
}
#text24{
    color: white;
    position: absolute;
    margin-top: 26%;
    margin-left:1410px;
}
#text25{
    color: white;
    position: absolute;
    margin-top: 32%;
    margin-left:1410px;
}