html, body{
    background: lightblue;
    color: darkblue;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    min-height: 400px;
    box-sizing: border-box;
    text-align: center;
    background:#232323 ;
}
.background {

    position: relative;
}

body {
    overflow: auto;
    overflow-x: hidden;

    position: relative;
}
@media only screen and (min-device-width : 10px) and (max-device-width : 480px) {
    .col-1 {
        width: 8.3333333333%;
    }

    .col-2 {
        width: 16.6666666667%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.3333333333%;
    }

    .col-5 {
        width: 41.6666666667%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.3333333333%;
    }

    .col-8 {
        width: 66.6666666667%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.3333333333%;
    }

    .col-11 {
        width: 91.6666666667%;
    }

    .col-12 {
        width: 100%;
    }

    .imagestart {
        margin-top: 150px;
        margin-left: 400px;
        height: 100px;
        background-size: 80px 100px;
    }

    .menu ul {

        margin-left: 250px;
        margin-top: 150px;
        display: block;
    }

    .menu ul li a {
        font-size: 60px;

    }

    #zagolovok {
        margin-top: 350px;
        margin-left: 1600px;

    }

    .background {
        width: 2200px;
        height: 4360px;
        background-size: 2400px 4500px;
        margin-left: -500px;
        position: relative;
    }

    body {
        overflow: visible;
        position: relative;
    }

    .slider {

        margin-left: 400px;
        height: 750px;
    }

   figure img {
        height: 600px;
    }

    @keyframes slidy {
        1% {
            left: 0%;
        }
        10% {
            left: 0%;
        }

        25% {
            left: -5%;
        }
        40% {
            left: -60%;
        }
        60% {
            left: -120%;
        }
        80% {
            left: -200%;
        }
        100% {
            left: -250%;
        }
    }
    form {
        margin-left: 800px;
        margin-top: 1780px;
        font-size: 70px;
    }

    form input {
        font-size: 60px;
        padding: 5px;
        width: 700px;
    }

    textarea {
        font-size: 60px;
        width: 700px; /* Ширина поля в процентах */
        height: 300px; /* Высота поля в пикселах */
        resize: none; /* Запрещаем изменять размер */
    }
    .content1{
    margin-left: 400px;
    position: absolute;
    }
    .content2{
        margin-left: 500px;
        position: absolute;
    }
    .content3{
        margin-left: 600px;
        position: absolute;
    }
    .content4{
        margin-top: 620px;
        margin-left: -400px;
        position: absolute;
    }
    .content5{
        margin-top: 620px;
        margin-left: -250px;
        position: absolute;
    }
    .buttons {
        font-size: 60px;
        margin-left: 200px;

    }

    #top {
        margin-top: 50px;
        margin-left: 700px;
        font-size: 70px;

    }

    #one {
        position: relative;
        margin-top: 1px;
        margin-left: 450px;
    }

    #two {
        position: relative;
        margin-top: 50px;
        margin-left: 450px;
    }

    #s {
        position: relative;
        margin-top: 50px;
        margin-left: 450px;
    }

    #sr {
        position: relative;
        margin-top: 50px;
        margin-left: 450px;
    }

    #qw {
        position: relative;
        margin-top: 50px;
        margin-left: 450px;
    }

    .one {
        margin-top: 150px;
        margin-left: 500px;
        position: relative;
    }

    .two {
        margin-top: 50px;
        margin-left: 500px;
        position: relative;
    }
    .three{
        margin-top: 50px;
        margin-left: 500px;
        position: relative;
    }
    .for{
        margin-top: 50px;
        margin-left: 500px;
        position: relative;
    }
    .sec{
        margin-top: 50px;
        margin-left: 500px;
        position: relative;
    }

    .ost{
        margin-top: 50px;
        margin-left: 500px;
        position: relative;
    }
    table{
        margin-top: 100px;
    }
    table td img{
        height: 500px;
margin-left: 300px;

        width: 400px;
    }
    .description{
        font-size: 60px;
    }
tr  .one{
  visibility: hidden;

}
}


/* телефон л----------- */
@media only screen and (max-width : 371px) {
    .col-sm-1 {width: 8.3333333333%;}
    .col-sm-2 {width: 16.6666666667%;}
    .col-sm-3 {width: 25%; }
    .col-sm-4 {width: 33.3333333333%;}
    .col-sm-5 {width: 41.6666666667%;}
    .col-sm-6 {width: 50%; }
    .col-sm-7 {width: 58.3333333333%;}
    .col-sm-8 {width: 66.6666666667%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.3333333333%; }
    .col-sm-11 {width: 91.6666666667%; }
    .col-sm-12 {width: 100%;}
    body {
        overflow: visible;
        position: relative;
    }
    .background {
        width: 2200px;
        height: 4360px;
        background-size: 2400px 4500px;

        position: relative;
    }
}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and(min-width: 800px) and (max-width: 1320px){
    .col-md-1 {width: 8.3333333333%;}
    .col-md-2 {width: 16.6666666667%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.3333333333%;}
    .col-md-5 {width: 41.6666666667%;}
    .col-md-6 {width:  50%; }
    .col-md-7 {width: 58.3333333333%;}
    .col-md-8 {width: 66.6666666667%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.3333333333%; }
    .col-md-11 {width: 91.6666666667%; }
    .col-md-12 {width: 100%;}
    body{
    overflow-x: visible;}
}
