body{
    margin: initial;

}
.menu ul {
position: absolute;
    top: 45px;
    left: 550px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}
.menu ul li {
    list-style: none;
}
.menu ul li a {
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 5px 10px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}
.menu ul li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    background: coral;
    transition: 0.5s;
}
.menu ul li a:hover {
    color: #fff;
}
.menu ul li a:hover::before {
    animation: animate .5s linear forwards;
}

@keyframes animate {
    0% {
        top: calc(50% + 2px);
        left: 100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% + 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}

.background{
    background: url(i4g6hG71hMk.jpg)  no-repeat ;
    width: 1920px;
    height: 1080px;
    background-size: 1920px 1080px;
position:fixed;

}
.imagestart{
    background: url(0e7b5ca6ced88e3e0be0ef32ed7f8da1.png)  no-repeat ;
width: 100px;
    height: 100px;
    background-size:80px 80px;
    margin-left: 200px;

}
#zagolovok{
    position:absolute;
    margin-top: 100px;
    margin-left: 1100px;
    font-size: 40px;
    color: cornsilk;
}
form{
    color: white;
    position:absolute;
    width: 400px;
    margin-left: 1400px;
margin-top: 100px;
}
textarea {
    width:401px;
    height: 70px;
    resize: none;
}
form input{

    padding: 5px;
    width: 390px;
}
.buttons{
    margin-left: 160px;
    background: linear-gradient(45deg, coral, brown);
    color: white;
}
#top{
    color: cornsilk;
    position: relative;
    margin-top: 200px;
    margin-left: -1200px;
}
#one{
    position:  absolute;
    margin-top:1px;
    margin-left: -1200px;
}
#two{
    position:  absolute;
    margin-top: 310px;
    margin-left: -1200px;
}
#s{
    position:  absolute;
    margin-top: 210px;
    margin-left: -1200px;
}
#sr{
    position:   absolute;
    margin-top:110px;
    margin-left: -1200px;
}
#qw{
    position:absolute;
    margin-top: 10px;
    margin-left: -1200px;
}
