table  {
    margin-left: 100px;
    border-collapse: collapse;
    margin-top: 100px;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

td  {
    width: 200px;

    color: white;
    font-style: italic;
}

td:nth-child(2) {
    width: 800px;
    text-align: left;
    vertical-align: top;
}
td span{
    margin-left: 265px;
}

.description {
    text-align: center;
    vertical-align: top;
    padding: 0.5em 3em;
    font-size: 20pt;

}
.one{
    height: 100px;
    font-size: 15pt;
    text-align: center;
    vertical-align: top;
}

