@keyframes slidy {


    25% { left: -100%; }

    40% { left: -200%; }

    60% { left: -300%; }

    80% { left: -400%; }
    100% { left: -400%; }

}

.slider {
    width: 800px;
    height: 600px;
    overflow: hidden;
    margin-left: 270px;

}


.imagestrip img {
    width: 800px;
    height: 600px;
}

.slider figure {
    position: relative;
    width: 500%;
    animation: 15s slidy infinite;
    font-size: 0;
    padding: 0;
    margin: 0;
    left: 0;
    margin-top: 150px;
}