.one{

    margin-left: 75px;
    position: absolute;}
.two{

    margin-left: 675px;
    position: absolute;
}
.three{

    margin-left: 1275px;
    position: absolute;
}
.for{
    margin-top: 500px;
    margin-left: 75px;
    position: absolute;
}
.sec{
    margin-top: 500px;
    margin-left: 675px;
    position: absolute;
}

.ost{
    margin-top: 500px;
    margin-left: 1275px;
    position: absolute;
}
